
/* configuracion general de Body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    max-width: 100%;
    list-style: none;
 
   
}

body{
    background-color: rgba(128, 128, 128, 0.5);
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.9)), url("../imagenes/body/fondo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center  20px ;
    background-image: cover;
    
   
  
}